.footerbackground{
    background-color: black;

}

.footertextcolor{
    color: white;
}

.code-refractor{
    width: 50%;
    height: auto;
}

.password-generator{
    width: 50%;
    height: auto;
}